root = true

[*]
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[examples/**/*.*]
trim_trailing_whitespace = false
insert_final_newline = false

[*.{css,js,json,yaml,yml,html}]
indent_size = 2

[config/config*.php]
indent_size = 2
